@font-face {
  font-family: 'Circular';
  src: url(../fonts/CircularStd-Light.otf) format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url(../fonts/CircularStd-LightItalic.otf) format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Circular';
  src: url(../fonts/CircularStd-Bold.otf) format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url(../fonts/CircularStd-BookItalic.otf) format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Circular';
  src: url(../fonts/CircularStd-Medium.otf) format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url(../fonts/CircularStd-MediumItalic.otf) format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Circular';
  src: url(../fonts/CircularStd-MediumItalic.otf) format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Circular';
  src: url(../fonts/CircularStd-Bold.otf) format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url(../fonts/CircularStd-BoldItalic.otf) format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Circular';
  src: url(../fonts/CircularStd-Black.otf) format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Circular';
  src: url(../fonts/CircularStd-BlackItalic.otf) format('opentype');
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white !important;
}

body {
  overflow-x: hidden;
  background-color: black;
  font-family: 'Circular', sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
}

main {
  background-color: #212121;
  position: relative;
}

#imgauthor {
  position: absolute;
  height: 330px;
  top: 0;
  left: 0;
  /* z-index: -1; */
}

.author {
  font-size: smaller;
}

header {
  position: fixed;
  bottom: 0;
  z-index: 100;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
}

header nav li i {
  font-size: 30px;
}

.navSecondSection {
  padding-bottom: 1em;
  border-bottom: 1px solid #d3d3d333;
}

#searchedList {
  max-height: 40vh !important;
  overflow-y: scroll;
}

#searchedList li {
  list-style-type: none;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 0.8em;
}

.arrow {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgba(0, 0, 0, 0.308);
  border-radius: 50px;
}

.profile {
  background-color: rgba(0, 0, 0, 0.555);
  border-radius: 50px;
  padding-right: 10px;
}

#profileImg {
  width: 25px;
  border-radius: 50px;
}

.collage {
  width: 60px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
}

.collage img {
  width: 50%;
}

#mostLiked .card,
#todayHits .card,
#mood .card,
#goodFeelings .card {
  max-width: 170px;
}

.card-img-top {
  max-width: 160px;
  margin: 0 auto;
}

.cart-title {
  cursor: pointer;
}

#mostLiked .cart-title,
#todayHits .cart-title,
#mood .cart-title,
#goodFeelings .cart-title {
  display: -webkit-box;
  -webkit-box-direction: vertical;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.friends {
  width: 30px;
}

#player {
  position: fixed;
  bottom: 94px;
}

/* SECTION PLAYER */
audio#musicSource {
  height: 30px;
  width: 100%;
}

#btnPlay {
  padding-top: 0;
  padding-bottom: 0;
}

#player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.buttonPlayBigCard {
  z-index: 1000000;
  background-color: #1db954;
}

.audio-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.audio-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.audio-info {
  display: flex;
  white-space: nowrap;
  flex-direction: column;
}

.audio-info h4,
.audio-info p {
  margin: 0;
  font-size: 14px;
}

.audio-info h4 {
  font-weight: bold;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container i {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #e9e9e9 !important;
}

.input-container input {
  width: calc(100% - 150px);
  padding-left: 35px;
  height: 40px;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  background-color: #2a2a2a;
  color: #b3b3b3;
}

.filter-select {
  position: absolute;
  right: 0;
  top: 0;
  height: 40px;
  width: 120px;
  border: 1px solid #2a2a2a;
  border-radius: 10px;
  background-color: #2a2a2a;
  color: #b3b3b3;
  padding: 0 10px;
}

.filter-select:focus {
  outline: none;
  border-color: #b3b3b3;
}

.category-card {
  height: 120px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
}

.category-card img {
  position: absolute;
  bottom: -5px;
  right: -20px;
  width: 100px;
  height: auto;
  border-radius: 15px;
  transform: rotate(30deg);
}

.albumTitle {
  border-bottom: 1px solid lightgrey;
}

.custom-audio-player {
  width: 50%; /* Adatta il player alla larghezza del contenitore */
}
.custom-audio-player::-webkit-media-controls-panel {
  background-color: #181818;
  appearance: none; /* Cambia il colore di sfondo del player */
}
.custom-audio-player::-webkit-media-controls-play-button,
.custom-audio-player::-webkit-media-controls-current-time-display,
.custom-audio-player::-webkit-media-controls-time-remaining-display,
.custom-audio-player::-webkit-media-controls-timeline,
.custom-audio-player::-webkit-media-controls-volume-slider {
  background-color: #181818; /* Cambia il colore dei pulsanti */
  color: white; /* Cambia il colore del testo e delle icone */
  appearance: none;
}


.custom-audio-player::-webkit-media-controls-play-button {
  display: none;

}

.custom-audio-player::-webkit-media-controls-mute-button,
.custom-audio-player::-webkit-media-controls-fullscreen-button {
  background-color: #181818; /* Cambia il colore dei pulsanti mute e fullscreen */
  appearance: none;
}
.custom-audio-player::-webkit-media-controls-timeline-container {
  background-color: red; /* Cambia il colore della barra temporale */
}

/* homepage cards in js */

#bigCard {
  background: linear-gradient(45deg, black, transparent);
  padding-bottom: 2em;
  border: 0;
}

.secondCard {
  background-color: #2b2b2b;
}

.card {
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.cart-title {
  /* background dinamico titolo card */
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.card:hover {
  background-color: #2b2b2b;
  transform: scale(1.05);
  cursor: pointer;
}

.cardMini {
  background-color: #2b2b2b;
}

.cardMini:hover {
  border: 0.5px solid rgba(0, 0, 0, 0.356);
}

.cart-title:hover {
  background-color: #2b2b2b;
  border-radius: 10px;
  padding: 0.1em; /* sorta di animazione dell hover */
  cursor: pointer;
}

.new-col:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.new-col img {
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.play-button {
  /* bottone nel buonasera */
  position: absolute;
  top: 30px;
  right: 10px;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1db954;
  color: white;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.play-button:hover {
  transform: scale(1.5);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.play2-button {
  /* bottone nelle card grandi */
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1db954;
  color: white;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: opacity 0.3s ease, visibility 0.3s ease,
    transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover .play2-button {
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#artistDetails {
  background-position: 0 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

.trackTitle,
#showMore,
.bi-heart,
.bi-heart-fill,
.track-title {
  cursor: pointer;
}

.menuItem:hover {
  background-color: #181818;
}

@media screen and (max-width: 768px) {
  #player {
    bottom: 90px;
    /* Sposta la barra più in alto */
  }

  .card {
    width: 100%;
    margin-bottom: 15px; /* Spazio tra le card */
  }

  /* Se vuoi ridurre il numero di colonne a 1 per schermi più piccoli, puoi usare una grid o flexbox */
  .card-deck {
    display: flex;
    flex-wrap: wrap; /* Avvolge le card su più righe */
    gap: 15px; /* Distanza tra le card */
    justify-content: center; /* Centra le card */
  }

  .category-card {
    height: 100px; /* Adatta l'altezza delle card nelle categorie */
    width: 100%;
  }

  .category-card img {
    width: 80px; /* Riduci le dimensioni dell'immagine */
    height: auto;
  }

  .play2-button {
    top: 90%;
  }

  .play2-button,
  .play-button {
    width: 30px;
    height: 30px;
  }

  .hide-mobile {
    display: none;
  }

  #bigCard {
    display: none;
  }

  /* albumpage */

  .numberLine,
  .numberVisual,
  .numberTime {
    display: none;
  }

  .titleSong {
    white-space: nowrap; /* Impedisce il testo di andare a capo */
  }

  #albumImage {
    align-items: center;
  }

  .bigCardDiv {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 992px) {
  header {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
  }

  header nav li i {
    font-size: 15px;
  }

  aside {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0;
  }

  #player {
    bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 900px;
    /* Riduci larghezza su XL */
  }

  .category-card img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: auto;
    border-radius: 15px;
    transform: none;
  }
}

#resultContainer .category-card {
  background-color: #2a2a2a;
}

#resultContainer .category-card img {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 80px;
  height: auto;
  border-radius: 15px;
  transform: none;
}

@media screen and (max-width: 767px) {
  #resultContainer .category-card img {
    width: 50px;
  }
}

@media screen and (max-width: 991px) {
  #resultContainer .category-card img {
    width: 60px;
  }
}

.abc {
  max-width: 48%;
}

.card-title,
.card-body a {
  font-size: 2vw;
  overflow: hidden;
}

@media (max-width: 576px) {
  .card-title,
  .card-body a {
    font-size: 2vw;
  }

  .custom-audio-player, #btnShuffle, #btnRepeat {
    display: none;
  }

  #playerBox {
    margin-left: 10em;
  }

}

@media (min-width: 576px) and (max-width: 1200px) {
  .card-title,
  .card-body a {
    font-size: 2vw;
  }

  .custom-audio-player, #btnShuffle, #btnRepeat {
    display: none;
  }

  #playerBox {
    margin-left: 10em;
  }
}

@media (min-width: 1200px) {
  .card-title,
  .card-body a {
    font-size: 1.5vw;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #4d4d4d;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
}

.row-hover:hover {
  background-color: #2b2727;
  cursor: pointer;
}

.row-hover .track-num {
  display: inline-block;
}

.row-hover .play-icon {
  display: none;
}

.row-hover:hover .track-num {
  display: none;
}

.row-hover:hover .play-icon {
  display: inline-block; 
  font-size: 1.5rem; 
  
}

.cardMini {
  margin: 10px; /* Aggiungi spaziatura */
}
@media (max-width: 575.98px) {
  .cardMini {
    width: calc(100% - 20px); /* 1 colonna */
  }
}
@media (min-width: 576px) and (max-width: 991.98px) {
  .cardMini {
    width: calc(50% - 20px); /* 2 colonne */
  }
}
@media (min-width: 992px) {
  .cardMini {
    width: calc(33.333% - 20px); /* 3 colonne */
  }
}


html {
  scrollbar-width: thin;  /* Opzioni: auto, thin, none  */
  scrollbar-color: #4D4D4D #888 ; /*  Colore del cursore (thumb) e del tracciato (track)  */
}

html:hover {
  scrollbar-color: #d3d3d3 #4D4D4D;
}